{% block toolbar %}
    {% set icon %}

    {% if collector.runId %}
        <a href="{{ url("xhprof.view", {run: collector.runId}) }}" title="{{ 'XHProf'|t }}">
            <img width="20" height="28" alt="Asset"
                 src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQ5JREFUeNrsVtENgjAQLcYFWKErlAH4gBFkBB1BRpARYAQZQUaQEWQEGQHvknfJWSUhMZGQtMmj5ejdu747CNE0TWaNsTMrjUAciAPx9on3fEnT9F98F8KZUMmJb4Qaa0vg72iG2SlHuX9izXgQDguJmTQhlEJ8IhwRlLNqCR2exZ5zDOSEiLMnXBeQZph7XeNBBciQyNLBSYw4/R0xLNaiiMNpRTWrm6uBQ4tARpVBZDVf7CxzARurVIK8hSIN7ivsYduw8/TvIblVdpE08ojFnqiydFDPiaSY7dzr5ECYI9P6x+4dVFPqJD6IRYoR9c1Up46ezzhj17YC/roUb/uj8AcSiANxIN4c8UuAAQBgXEUcKgS1eAAAAABJRU5ErkJggg=="/>
        </a>
    {% else %}
        <span>
        <img width="20" height="28" alt="Asset"
             src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAcCAYAAAB2+A+pAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAflJREFUeNrsVs9LAlEQfqtbCwZWRMcN3aJDEAR5CAuUflyKulXXTkV/QUEQHYKwIohuEkGXID0FEYQiSXQJ9iJBddCoDoEKQmTEhto3MhtbVKcggh34dpg38+abmfeeKFUqFfEX4hB/JDaxTWwT/39imT7BYLBqnCSTv52/CxgFxgBfMBAIQc8BIZkDYkAGmIFTg04DQ7zuQ0F6tcBAgH5ffbzeyHtp3zxiotAtwAgT9QO1liKyTEr7dZN4hsiQOMzOKBLFYQsLgSmNjCHEnO+r6mqDYURg54BmS1wZSAAHwBFyebhg/X3UXDWNIcJJW7+b3Ww63SnR/B4edqDUyft709V853I9X7jdt65SaWGpo2OBuybCM26IhKbWKltymt2G0UnBXPQWi7Gwpgl/Pm/egQ12qTlFEan6+tyL07m52da2bDgcW5wnwlOjc51jm6Y6CEjWjgWT6k2GMZ2pq7vRisWe49NToZTL7wHPTqd4kuWzHY+nN68oE+upVHQgm6361trbl6HiIMuArJvOnbfRaLUvbzWEAqcTyeQdv68V+hDpY03Nhfv1dRfm4XBf3yX0Ep9V4YfbnOGccdb6d++YRhGC0VKSpOs9VRXbXu8iXa4xv38KvnXgimMLn7RVzLUJYJxfwTjbH+Il+x+ITWwT28T/jvhNgAEAnTCjXitoJO0AAAAASUVORK5CYII="/>
        </span>
    {% endif %}

    {% endset %}
    {% set text %}
    <div class="sf-toolbar-info-piece">
        <b>{{ 'Run id'|t }}</b>
        <span>{{ collector.runId }}</span>
    </div>
    {% endset %}

    <div class="sf-toolbar-block">
        <div class="sf-toolbar-icon">{{ icon|default('') }}</div>

        {% if collector.runId %}
            <div class="sf-toolbar-info">{{ text|default('') }}</div>
        {% endif %}
    </div>
{% endblock %}
